<!DOCTYPE html>
<html lang="<%- config.language || 'en' %>">
  <%- partial('_partial/head') %>
  <body>
    <div class="wrapper">
      <%# navbar %> 
      <%- partial('_partial/nav.ejs') %> 
      <%# main content %>
      <div class="section-wrap">
        <div class="container">
          <div class="columns">
            <aside class="left-column">
              <%# author card %>
              <div class="card card-author">
                <%- partial('_partial/author') %>
              </div>
              <%# sticky-tablet %> <%- partial('_partial/left-aside') %>
            </aside>
            <main class="main-column">
              <%- body %>
            </main>
            <aside class="right-column">
              <%- partial('_partial/right-aside') %>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <%# javascript %>  
    <% if(theme.lazyload.enable) { %>
      <script>
        let initCount = 0;
        function initClipboard() {
          initCount++
          if(initCount < 2) {
            return
          }
          let board = new ClipboardJS('.btn-copy')
          board.on('success', function(e) {
            e.clearSelection()
            e.trigger.innerHTML= icon_yes
            setTimeout(()=>{
              e.trigger.innerHTML = icon_copy
            }, 1000)
          })
        }
      
      
        var addLazyload = function () {
          var observer = lozad('.lozad', {
            load: function (el) {
              el.srcset = el.getAttribute('data-src')
            },
            loaded: function (el) {
              el.classList.add('loaded')
            },
          })
          observer.observe()
        }
      </script>
      <script>
        loadScript('<%= url_for(theme.cdn.lozad) %>', addLazyload)
      </script>
      <script>
        loadScript('<%= url_for(theme.cdn.toc) %>', () => {tocSetup();addCopyButton();initClipboard()})
      </script>
      <script>
        loadScript('<%= url_for(theme.cdn.clipboard)%>', () => initClipboard())
      </script>
    <% } %>
  </body>
</html>
