<!DOCTYPE html>
<html lang="<%- config.language || 'en' %>">
  <%- partial('_partial/head') %>
  <body>
    <div class="wrapper">
      <%# navbar %> 
      <%- partial('_partial/nav.ejs') %> 
      <%# main content %>
      <div class="section-wrap">
        <div class="container">
          <div class="columns">
            <aside class="left-column">
              <%# author card %>
              <div class="card card-author">
                <%- partial('_partial/author') %>
              </div>
              <%# sticky-tablet %> <%- partial('_partial/left-aside') %>
            </aside>
            <main class="main-column">
              <%- body %>
            </main>
            <aside class="right-column">
              <%- partial('_partial/right-aside') %>
            </aside>
          </div>
        </div>
      </div>
    </div>
    <%# javascript %> 
    <%- ex_js(url_for('/js/main.js')) %> 
    <% if(theme.lazyload.enable) { %>
      <script>
        var addLazyload = function () {
          var observer = lozad('.lozad', {
            load: function (el) {
              el.srcset = el.getAttribute('data-src')
            },
            loaded: function (el) {
              el.classList.add('loaded')
            },
          })
          observer.observe()
        }
      </script>
      <script>
        loadScript('<%= url_for(theme.cdn.lozad) %>', addLazyload)
      </script>
      <script>
        loadScript('<%= url_for(theme.cdn.toc) %>', () => tocSetup())
        </script>
    <% } %>
  </body>
</html>
