<% if(theme.author_img) { %>
  <img 
    src="<%- theme.author_img %>" 
    class="author-img"
    width="88"
    height="88"
    alt="author avatar">
<% } %>
<p class="author-name"><%- theme.author || config.author %></p>
<p class="author-description"><%- theme.author_description || config.description %></p>
<div class="author-message">
  <a 
    class="author-posts-count" 
    href="<%- url_for('/archives') %>">
    <span><%- site.posts.length %></span>
    <span><%- __('posts.title') %></span>
  </a>
  <a 
    class="author-categories-count" 
    href="<%- url_for('/categories') %>">
    <span><%- site.categories.length %></span>
    <span><%- __('categories.title') %></span>
  </a>
  <a 
    class="author-tags-count" 
    href="<%- url_for('/tags') %>">
    <span><%- site.tags.length %></span>
    <span><%- __('tags.title') %></span>
  </a>
  <% if(theme.wordcount.enable) { %>
    <a
      class="author-word-count">
      <% let count = site.posts.data.reduce((total, item) => {return total + wordcountOrigin(item.content)}, 0) / 10000 %>
      <span><%= Math.floor(count * 100) / 100 %></span>
      <span><%- __('wordcount.title') %></span>
    </a>
   <% } %>
</div>