<head>
  <meta charset="UTF-8">
  <meta 
    name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <meta 
    http-equiv="X-UA-Compatible" 
    content="ie=edge">
  <meta 
    name="theme-color" 
    content="#fff" 
    id="theme-color">
  <meta 
    name="description" 
    content="<%= config.description || config.title || theme.title %>">
  <link 
    rel="icon" 
    href="<%= url_for(theme.logo_img) %>">
  <title><%- page.title || theme.title %></title>
  <%- preload_css(url_for('css/main.css')) %>
  <%- ex_css(url_for('css/main.css')) %>
  <% if(theme.cdn.hightlightcss) { %>
    <%- preload_css(url_for(theme.cdn.hightlightcss)) %>
    <%- ex_css(url_for(theme.cdn.hightlightcss)) %>
  <% } %>  
  <script>
    function loadScript(url, cb) {
      var script = document.createElement('script');
      script.src = url;
      if (cb) script.onload = cb;
      script.async = true;
      document.body.appendChild(script);
    }
    function loadCSS(href) {
      var sheet = document.createElement('link');
      sheet.ref = 'stylesheet';
      sheet.href = href;
      document.head.appendChild(sheet);
    }
    function changeCSS(cssFile, data, attr) {
      var oldlink = document.querySelector(data);
      var newlink = document.createElement("link");
      newlink.setAttribute("rel", "stylesheet");
      newlink.setAttribute("href", cssFile);
      newlink.dataset.prism = attr;
      document.head.replaceChild(newlink, oldlink);
    }
  </script>
  <% if(theme.lazyload.enable) { %>
    <%- preload_js(url_for(theme.cdn.lozad)) %>
  <% } %>
</head>
